import React from "react";

const {{pascalCase pageName}} = () => {
  return (
    <div id="{{kebabCase pageName}}-wrapper">
      <h1>{{pascalCase pageName}} PAGE</h1>
    </div>
  );
};

export default {{pascalCase pageName}};
